body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 5.2rem;
}
.display-1 > .mbr-iconfont {
  font-size: 8.32rem;
}
.display-2 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.16rem;
    font-size: calc( 2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #b69b74 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #cebfaf !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b69b74 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info,
.btn-info:active {
  background-color: #cebfaf !important;
  border-color: #cebfaf !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #b19980 !important;
  border-color: #b19980 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b19980 !important;
  border-color: #b19980 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #816843;
  color: #816843;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #b69b74;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before,
.btn-primary-outline.active:before {
  transform: scaleX(1);
}
.btn-primary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b69b74;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #149dcc;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before,
.btn-secondary-outline.active:before {
  transform: scaleX(1);
}
.btn-secondary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #149dcc;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #a78c70;
  color: #a78c70;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #cebfaf;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before,
.btn-info-outline.active:before {
  transform: scaleX(1);
}
.btn-info-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cebfaf;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #cebfaf !important;
  border-color: #cebfaf !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #f7ed4a;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before,
.btn-success-outline.active:before {
  transform: scaleX(1);
}
.btn-success-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7ed4a;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #879a9f;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before,
.btn-warning-outline.active:before {
  transform: scaleX(1);
}
.btn-warning-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #879a9f;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #816843;
  color: #816843;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #b69b74;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before,
.btn-danger-outline.active:before {
  transform: scaleX(1);
}
.btn-danger-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b69b74;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before,
.btn-black-outline.active:before {
  transform: scaleX(1);
}
.btn-black-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #b69b74 !important;
}
.text-secondary {
  color: #149dcc !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #cebfaf !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b69b74 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #816843 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b566f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #a78c70 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #816843 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #cebfaf;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b69b74;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b69b74;
  border-color: #b69b74;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b69b74;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e2d7c8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e2d7c8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #b69b74;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b69b74;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b69b74;
  border-bottom-color: #b69b74;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #b69b74 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #149dcc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b69b74' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rArXDGngPj .navbar {
  padding: .5rem 0;
  background: #f1eeea;
  transition: none;
  min-height: 100px;
}
.cid-rArXDGngPj .navbar-dropdown.bg-color.transparent.opened {
  background: #f1eeea;
}
.cid-rArXDGngPj a {
  font-style: normal;
}
.cid-rArXDGngPj a .link:hover {
  color: inherit!important;
}
.cid-rArXDGngPj .dropdown-item:active {
  background: #f1eeea;
}
.cid-rArXDGngPj .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rArXDGngPj .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0 !important;
  margin: 0.5rem 1.4rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rArXDGngPj .nav-item:focus,
.cid-rArXDGngPj .nav-link:focus {
  outline: none;
}
.cid-rArXDGngPj .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rArXDGngPj .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rArXDGngPj .menu-logo {
  margin-right: auto;
}
.cid-rArXDGngPj .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rArXDGngPj .dropdown .dropdown-menu {
  background: #f1eeea;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rArXDGngPj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rArXDGngPj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rArXDGngPj .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rArXDGngPj .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rArXDGngPj .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rArXDGngPj .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rArXDGngPj button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.8rem;
  right: 1rem;
}
.cid-rArXDGngPj button.navbar-toggler:focus {
  outline: none;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b69b74;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rArXDGngPj .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rArXDGngPj .collapsed .btn {
  display: -webkit-flex;
}
.cid-rArXDGngPj .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing,
.cid-rArXDGngPj .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rArXDGngPj .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-rArXDGngPj .collapsed button.navbar-toggler {
  display: block;
}
.cid-rArXDGngPj .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rArXDGngPj .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rArXDGngPj .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rArXDGngPj .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rArXDGngPj .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rArXDGngPj .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rArXDGngPj .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rArXDGngPj img {
    height: 3.8rem !important;
  }
  .cid-rArXDGngPj .btn {
    display: -webkit-flex;
  }
  .cid-rArXDGngPj button.navbar-toggler {
    display: block;
  }
  .cid-rArXDGngPj .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rArXDGngPj .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rArXDGngPj .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing,
  .cid-rArXDGngPj .navbar-collapse.show {
    display: block !important;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-nav,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-buttons,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rArXDGngPj .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rArXDGngPj .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rArXDGngPj .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rArXDGngPj .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rArXDGngPj .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rArXDGngPj .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rArXDGngPj .nav-link,
.cid-rArXDGngPj .dropdown-item {
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.cid-rArXDGngPj .nav-link:hover,
.cid-rArXDGngPj .dropdown-item:hover {
  color: #343434 !important;
  border-color: #b69b74;
}
.cid-rArXEdIV84 {
  padding-top: 135px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/1-2000x1500.jpg");
}
.cid-rArXEqnXGf {
  padding-top: 120px;
  padding-bottom: 75px;
  background-color: #f1eeea;
}
.cid-rArXEqnXGf .row {
  padding: 0 1rem;
  justify-content: center;
}
.cid-rArXEqnXGf .title {
  max-width: 800px;
  margin: auto;
}
.cid-rArXEqnXGf .text-wrap {
  padding: 0 1rem;
}
.cid-rArXEqnXGf .link {
  position: relative;
  width: fit-content;
  display: inline-block;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-rArXEqnXGf .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: currentColor;
}
.cid-rArXEqnXGf .link:hover:before {
  margin-right: -0.4rem;
}
.cid-rArXEqnXGf .card-block:hover img {
  transform: scale(1.1);
}
.cid-rArXEqnXGf .card {
  padding: 0;
}
.cid-rArXEqnXGf .card .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rArXEqnXGf .card .card-block .photo {
  display: inline-block;
  margin-bottom: 1.4rem;
  overflow: hidden;
}
.cid-rArXEqnXGf .card .card-block .photo img {
  width: 100%;
  min-width: 100%;
  height: 320px;
  object-fit: cover;
  min-height: 100%;
  transition: all 0.3s;
}
.cid-rArXEqnXGf H4 {
  color: #b69b74;
}
@media (max-width: 992px) {
  .cid-rArXEqnXGf .md-pb {
    margin-bottom: 2rem!important;
  }
}
.cid-rArXEqnXGf .mbr-text,
.cid-rArXEqnXGf .link-wrap {
  text-align: center;
}
.cid-rArXEqnXGf .mbr-section-title {
  text-align: center;
}
.cid-rArXFNF7KR {
  padding-top: 105px;
  padding-bottom: 75px;
  background-color: #eee8df;
}
.cid-rArXFNF7KR img {
  width: 90%;
}
@media (max-width: 992px) {
  .cid-rArXFNF7KR img {
    width: 100%;
  }
  .cid-rArXFNF7KR .pb-5 {
    padding-bottom: 1rem!important;
  }
}
.cid-rArXFNF7KR ul {
  padding-left: 2rem;
  margin-bottom: 0;
}
.cid-rArXFNF7KR ul li {
  margin-bottom: 0.4rem;
  list-style: none;
  position: relative;
}
.cid-rArXFNF7KR ul li:before {
  position: absolute;
  left: -2.6rem;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 10px 14px;
  line-height: 20px;
  transition: all .2s;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #b69b74;
}
.cid-rArXFNF7KR H3 {
  text-align: left;
}
.cid-rArXFNF7KR .text2 {
  text-align: left;
}
.cid-uBjAZkcPwX {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #b69b74;
}
.cid-uBjAZkcPwX .mbr-text {
  color: #ffffff;
}
.cid-uBjAZkcPwX h4 {
  text-align: center;
}
.cid-uBjAZkcPwX p {
  text-align: center;
}
.cid-uBjAZkcPwX .card-img span {
  font-size: 96px;
  color: #b69b74;
}
.cid-uBjAZkcPwX .mbr-iconfont {
  size: 100px;
}
.cid-uBjAZkcPwX .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBjAZkcPwX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBjAZkcPwX .card-title,
.cid-uBjAZkcPwX .card-img {
  color: #ffffff;
}
.cid-rArXEDZgZT {
  padding-top: 120px;
  padding-bottom: 75px;
  background-color: #eee8df;
}
.cid-rArXEDZgZT img {
  width: 90%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-rArXEDZgZT img {
    width: 100%;
  }
  .cid-rArXEDZgZT .pb-5 {
    padding-bottom: 1rem!important;
  }
}
.cid-rArXEDZgZT ol {
  padding: 0;
  margin: 0;
}
.cid-rArXEDZgZT li {
  padding-bottom: 1rem;
  line-height: 1.4;
}
.cid-rArXEDZgZT .counter-container2 ol {
  counter-reset: start 4;
}
.cid-rArXEDZgZT .counter-container2 li {
  display: block;
}
.cid-rArXEDZgZT .counter-container2 li:before {
  content: counter(start) ". ";
  counter-increment: start;
}
.cid-rArXEDZgZT .counter-container1 ol {
  counter-reset: start 0;
}
.cid-rArXEDZgZT .counter-container1 li {
  display: block;
}
.cid-rArXEDZgZT .counter-container1 li:before {
  content: counter(start) ". ";
  counter-increment: start;
}
.cid-rArXEDZgZT li:before {
  color: #b69b74;
}
.cid-uBkhXLDl1U {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-uBkhXLDl1U .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBkhXLDl1U .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBkhXLDl1U DIV {
  text-align: center;
}
.cid-uBkhXLDl1U .mbr-text,
.cid-uBkhXLDl1U .mbr-section-btn {
  text-align: center;
}
.cid-uBjyL5blqJ {
  padding-top: 90px;
  padding-bottom: 15px;
  background-color: #eee8df;
}
.cid-uBjyL5blqJ .row {
  padding: 0 1rem;
  justify-content: center;
}
.cid-uBjyL5blqJ .container {
  margin-bottom: -60px;
}
.cid-uBjyL5blqJ .card {
  margin-bottom: 2.5rem;
  padding: 0;
}
.cid-uBjyL5blqJ .card .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-uBjyL5blqJ .card .card-block .photo {
  display: inline-block;
  margin-bottom: 1.4rem;
  overflow: hidden;
}
.cid-uBjyL5blqJ .card .card-block .photo img {
  width: 100%;
  min-width: 100%;
  height: 320px;
  object-fit: cover;
  min-height: 100%;
  transition: all 0.3s;
}
.cid-uBjyL5blqJ .title {
  max-width: 800px;
  margin: auto;
}
.cid-uBjyL5blqJ .text-wrap {
  padding: 0 1rem;
}
.cid-uBjyL5blqJ .link {
  position: relative;
  width: fit-content;
  display: inline-block;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-uBjyL5blqJ .link:before {
  content: '\e966';
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: currentColor;
}
.cid-uBjyL5blqJ .link:hover:before {
  margin-right: -0.4rem;
}
.cid-uBjyL5blqJ .card-block:hover img {
  transform: scale(1.1);
}
.cid-uBjyL5blqJ H4 {
  color: #b69b74;
}
@media (max-width: 992px) {
  .cid-uBjyL5blqJ .md-pb {
    margin-bottom: 2rem !important;
  }
}
.cid-uBjyL5blqJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBjyL5blqJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBjyL5blqJ H2 {
  color: #343434;
}
.cid-rArXEWGRct {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #eee8df;
}
.cid-rArXEWGRct .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
  padding-top: 8rem;
}
.cid-rArXEWGRct .carousel-item.active,
.cid-rArXEWGRct .carousel-item-next,
.cid-rArXEWGRct .carousel-item-prev {
  display: flex;
}
.cid-rArXEWGRct h2 {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  width: fit-content;
  right: 50%;
  top: -8rem;
  transform: translateX(-50%);
  opacity: 0.1;
}
.cid-rArXEWGRct .carousel-controls a {
  transition: opacity .5s;
  font-size: 2rem;
}
.cid-rArXEWGRct .carousel-controls a span {
  position: absolute;
  top: 120px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  background: #b69b74;
  opacity: .3;
  transition: all 0.3s;
}
.cid-rArXEWGRct .carousel-controls a:hover span {
  opacity: 0.4;
}
.cid-rArXEWGRct H2 {
  color: #b69b74;
}
.cid-rArXEWGRct .title {
  color: #343434;
}
.cid-rArXEWGRct .user_text {
  color: #767676;
}
.cid-rArXFAByJ1 {
  padding-top: 105px;
  padding-bottom: 60px;
  position: relative;
  background-color: #f1eeea;
}
.cid-rArXFAByJ1 .mbr-iconfont {
  font-family: 'Moririse2' !important;
  display: inline-flex;
  transform-origin: ;
  transform: rotate(45deg);
  transition: all 0.3s;
  padding: 0!important;
  font-size: 1.4rem!important;
  color: #b69b74;
}
.cid-rArXFAByJ1 .p-4 {
  padding: 1rem 0!important;
}
.cid-rArXFAByJ1 .content {
  max-width: 650px;
}
.cid-rArXFAByJ1 img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 3rem;
  box-shadow: 2.5px 4.3px 29px 0 rgba(0, 0, 0, 0.18);
}
.cid-rArXFAByJ1 .accordion .card .card-header {
  margin-bottom: 0px;
}
.cid-rArXFAByJ1 .mbri-arrow-down:before {
  content: "\e960";
}
.cid-rArXFAByJ1 .mbri-arrow-up:before {
  content: "\e960";
}
.cid-rArXFAByJ1 .collapsed .mbr-iconfont {
  transform: rotate(0deg);
}
.cid-rArXFAByJ1 h4 {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.cid-rArXFAByJ1 .card {
  border-radius: 0px;
}
.cid-rArXFAByJ1 .card .card-header {
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0;
  border-bottom: 2px solid #b69b74;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title h4 {
  padding: 1.2rem 0rem;
  margin-bottom: 0;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
@media (max-width: 992px) {
  .cid-rArXFAByJ1 img {
    width: 100%;
  }
  .cid-rArXFAByJ1 .content {
    max-width: 100%;
  }
}
.cid-rArXFAByJ1 H4 {
  color: #4f4943;
}
.cid-rArXFAByJ1 .panel-text {
  color: #343434;
}
.cid-rArXFAByJ1 H1 {
  color: #343434;
  text-align: left;
}
.cid-rArXFAByJ1 H2 {
  color: #343434;
  text-align: center;
}
.cid-uBjJ10m9Gh {
  padding-top: 45px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1280x859.jpg");
}
.cid-uBjJ10m9Gh .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #149dcc, #b69b74);
}
.cid-uBjJ10m9Gh .btn-col {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
@media (max-width: 767px) {
  .cid-uBjJ10m9Gh .btn-col {
    justify-content: center;
  }
}
.cid-uBjJ10m9Gh .mbr-text,
.cid-uBjJ10m9Gh .mbr-section-btn {
  color: #f1eeea;
}
.cid-uBjJ10m9Gh p {
  margin: 0;
}
.cid-uBjJ10m9Gh .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBjJ10m9Gh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uBjJ10m9Gh .center-align {
    text-align: center;
  }
}
.cid-uBjJ10m9Gh .line-mobile {
  visibility: hidden;
}
.cid-uBjJ10m9Gh .mbr-section-title,
.cid-uBjJ10m9Gh .title-wrapper {
  color: #ffffff;
}
.cid-uBjp1UmVXJ {
  padding-top: 105px;
  padding-bottom: 0px;
  background-color: #ac8e61;
}
.cid-uBjp1UmVXJ .row {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: center;
}
.cid-uBjp1UmVXJ .container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 2rem;
}
.cid-uBjp1UmVXJ .card {
  margin-bottom: 2.5rem;
  padding: 0;
  width: 100%;
}
.cid-uBjp1UmVXJ .card .card-block {
  width: 100%;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-uBjp1UmVXJ .card .card-block .photo {
  display: inline-block;
  margin-bottom: 1.4rem;
  overflow: hidden;
}
.cid-uBjp1UmVXJ .card .card-block .photo img {
  width: 100%;
  min-width: 100%;
  height: 320px;
  object-fit: cover;
  min-height: 100%;
  transition: all 0.3s;
}
.cid-uBjp1UmVXJ .title {
  max-width: 800px;
  margin: auto;
}
.cid-uBjp1UmVXJ .text-wrap {
  padding: 0 1rem;
}
.cid-uBjp1UmVXJ .link {
  position: relative;
  width: fit-content;
  display: inline-block;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-uBjp1UmVXJ .link:before {
  content: '\e966';
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: currentColor;
}
.cid-uBjp1UmVXJ .link:hover:before {
  margin-right: -0.4rem;
}
.cid-uBjp1UmVXJ .card-block:hover img {
  transform: scale(1.1);
}
.cid-uBjp1UmVXJ H4 {
  color: #b69b74;
}
@media (max-width: 992px) {
  .cid-uBjp1UmVXJ .md-pb {
    margin-bottom: 2rem !important;
  }
}
.cid-uBjp1UmVXJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBjp1UmVXJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBjp1UmVXJ H2 {
  color: #ffffff;
}
.cid-uBfjboxfIU {
  padding-top: 30px;
  padding-bottom: 105px;
  position: relative;
  background-color: #ac8e61;
}
.cid-uBfjboxfIU .mbr-iconfont {
  font-family: 'Moririse2' !important;
  display: inline-flex;
  transform-origin: ;
  transform: rotate(45deg);
  transition: all 0.3s;
  padding: 0 !important;
  font-size: 1.4rem !important;
  color: #ffffff;
}
.cid-uBfjboxfIU .p-4 {
  padding: 1rem 0 !important;
}
.cid-uBfjboxfIU .panel-body {
  text-align: left;
}
.cid-uBfjboxfIU .content {
  max-width: 650px;
}
.cid-uBfjboxfIU img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 3rem;
  box-shadow: 2.5px 4.3px 29px 0 rgba(0, 0, 0, 0.18);
}
.cid-uBfjboxfIU .accordion .card .card-header {
  margin-bottom: 0px;
}
.cid-uBfjboxfIU .mbri-arrow-down:before {
  content: '\e960';
}
.cid-uBfjboxfIU .mbri-arrow-up:before {
  content: '\e960';
}
.cid-uBfjboxfIU .collapsed .mbr-iconfont {
  transform: rotate(0deg);
}
.cid-uBfjboxfIU h4 {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.cid-uBfjboxfIU .card {
  width: 85%;
  border-radius: 0px;
}
.cid-uBfjboxfIU .card .card-header {
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0;
  border-bottom: 2px solid #ffffff;
}
.cid-uBfjboxfIU .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none !important;
  line-height: normal;
}
.cid-uBfjboxfIU .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-uBfjboxfIU .card .card-header a.panel-title h4 {
  padding: 1.2rem 0rem;
  margin-bottom: 0;
}
.cid-uBfjboxfIU .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
@media (max-width: 992px) {
  .cid-uBfjboxfIU img {
    width: 100%;
  }
  .cid-uBfjboxfIU .content {
    max-width: 100%;
  }
  .cid-uBfjboxfIU .card {
    width: 80%;
  }
}
.cid-uBfjboxfIU H4 {
  color: #ffffff;
  text-align: left;
}
.cid-uBfjboxfIU .panel-text {
  color: #ffffff;
}
.cid-uBfjboxfIU .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBfjboxfIU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBfiTDpOQM {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #f1eeea;
}
.cid-uBfiTDpOQM .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uBfiTDpOQM h4 {
  max-width: 600px;
  margin: auto;
  line-height: 1.4;
}
@media (min-width: 767px) {
  .cid-uBfiTDpOQM .form-check-inline {
    margin-right: 2rem;
  }
  .cid-uBfiTDpOQM .form-control-label {
    display: inline-flex;
    padding-right: 3rem;
    margin-bottom: 0;
    padding-left: 0.4rem;
  }
  .cid-uBfiTDpOQM .check {
    display: flex;
    align-items: flex-end;
  }
}
@media (min-width: 992px) {
  .cid-uBfiTDpOQM .col,
  .cid-uBfiTDpOQM .col-lg-6 {
    max-width: 48%;
  }
  .cid-uBfiTDpOQM .form-group {
    margin-bottom: 0, 5rem;
  }
}
@media (max-width: 992px) {
  .cid-uBfiTDpOQM .check {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .cid-uBfiTDpOQM .form-group {
    margin-bottom: 0rem;
  }
}
.cid-uBfiTDpOQM label {
  margin-bottom: 0;
}
.cid-uBfiTDpOQM .form-row {
  justify-content: space-between;
}
.cid-uBfiTDpOQM .form-control,
.cid-uBfiTDpOQM .field-input {
  padding: 0.5rem;
  background-color: #f1eeea;
  border: none !important;
  border-bottom: 2px solid #343434 !important;
  border-radius: 0;
  color: #343434;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-uBfiTDpOQM .form-control:focus,
.cid-uBfiTDpOQM .field-input:focus {
  color: #343434 !important;
}
.cid-uBfiTDpOQM .form-control:hover,
.cid-uBfiTDpOQM .field-input:hover {
  color: #343434 !important;
}
.cid-uBfiTDpOQM .form-control input::-webkit-input-placeholder,
.cid-uBfiTDpOQM .field-input input::-webkit-input-placeholder,
.cid-uBfiTDpOQM .form-control textarea::-webkit-input-placeholder,
.cid-uBfiTDpOQM .field-input textarea::-webkit-input-placeholder {
  color: #343434;
}
.cid-uBfiTDpOQM .form-control input:-moz-placeholder,
.cid-uBfiTDpOQM .field-input input:-moz-placeholder,
.cid-uBfiTDpOQM .form-control textarea:-moz-placeholder,
.cid-uBfiTDpOQM .field-input textarea:-moz-placeholder {
  color: #343434;
}
.cid-uBfiTDpOQM .form-control:hover,
.cid-uBfiTDpOQM .field-input:hover,
.cid-uBfiTDpOQM .form-control:focus,
.cid-uBfiTDpOQM .field-input:focus {
  background-color: #f1eeea;
  border-color: #343434 !important;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-uBfiTDpOQM .form-control:hover input::-webkit-input-placeholder,
.cid-uBfiTDpOQM .field-input:hover input::-webkit-input-placeholder,
.cid-uBfiTDpOQM .form-control:focus input::-webkit-input-placeholder,
.cid-uBfiTDpOQM .field-input:focus input::-webkit-input-placeholder,
.cid-uBfiTDpOQM .form-control:hover textarea::-webkit-input-placeholder,
.cid-uBfiTDpOQM .field-input:hover textarea::-webkit-input-placeholder,
.cid-uBfiTDpOQM .form-control:focus textarea::-webkit-input-placeholder,
.cid-uBfiTDpOQM .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-uBfiTDpOQM .form-control:hover input:-moz-placeholder,
.cid-uBfiTDpOQM .field-input:hover input:-moz-placeholder,
.cid-uBfiTDpOQM .form-control:focus input:-moz-placeholder,
.cid-uBfiTDpOQM .field-input:focus input:-moz-placeholder,
.cid-uBfiTDpOQM .form-control:hover textarea:-moz-placeholder,
.cid-uBfiTDpOQM .field-input:hover textarea:-moz-placeholder,
.cid-uBfiTDpOQM .form-control:focus textarea:-moz-placeholder,
.cid-uBfiTDpOQM .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-uBfiTDpOQM .jq-number__spin:hover,
.cid-uBfiTDpOQM .jq-number__spin:focus {
  background-color: #f1eeea;
  border-color: #343434;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-uBfiTDpOQM .jq-number__spin {
  background-color: #f1eeea;
  border-color: #343434;
  color: #343434;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-uBfiTDpOQM .jq-selectbox li,
.cid-uBfiTDpOQM .jq-selectbox li {
  background-color: #f1eeea;
  color: #000000;
}
.cid-uBfiTDpOQM .jq-selectbox li:hover,
.cid-uBfiTDpOQM .jq-selectbox li.selected {
  background-color: #f1eeea;
  color: #000000;
}
.cid-uBfiTDpOQM .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-uBfiTDpOQM .jq-number__spin.minus:hover:after,
.cid-uBfiTDpOQM .jq-number__spin.plus:hover:after {
  border-top-color: #f1eeea;
  border-bottom-color: #f1eeea;
}
.cid-uBfiTDpOQM .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-uBfiTDpOQM .jq-number__spin.minus:after,
.cid-uBfiTDpOQM .jq-number__spin.plus:after {
  border-top-color: #f1eeea;
  border-bottom-color: #f1eeea;
}
.cid-uBfiTDpOQM input::-webkit-clear-button {
  display: none;
}
.cid-uBfiTDpOQM input::-webkit-inner-spin-button {
  display: none;
}
.cid-uBfiTDpOQM input::-webkit-outer-spin-button {
  display: none;
}
.cid-uBfiTDpOQM input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-uBfiTDpOQM H5 {
  text-align: center;
}
.cid-uBfiTDpOQM P {
  text-align: center;
}
.cid-uBfiTDpOQM LABEL {
  color: #767676;
}
.cid-uBfiTDpOQM H4 {
  color: #9c9485;
}
.cid-uBkuBrCPwT {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-uBkuBrCPwT .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBkuBrCPwT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uBkuBrCPwT .google-map {
  height: 35rem;
  position: relative;
}
.cid-uBkuBrCPwT .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-uBkuBrCPwT .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uBkuBrCPwT .google-map[data-state] {
  background: #e9e5dc;
}
.cid-uBkuBrCPwT .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-uBkuBrCPwT .mbr-section-title {
  color: #00004c;
}
.cid-uBkx52tCgl {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #2a2525;
}
.cid-uBkx52tCgl .mbr-text {
  color: #ffffff;
}
.cid-uBkx52tCgl .container {
  max-width: 1000px;
}
.cid-uBkx52tCgl h4 {
  text-align: center;
}
.cid-uBkx52tCgl p {
  text-align: center;
}
.cid-uBkx52tCgl .row {
  justify-content: center;
}
.cid-uBkx52tCgl .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-uBkx52tCgl .mbr-iconfont {
  font-size: 1.5rem;
  color: #b69b74;
  display: block;
}
.cid-uBkx52tCgl .card-title,
.cid-uBkx52tCgl .card-img {
  color: #b69b74;
}
.cid-uBkx52tCgl .icon-wrap {
  padding-bottom: 7.6rem;
}
.cid-uBkx52tCgl .icon-wrap:before {
  content: '';
  position: absolute;
  background: #b69b74;
  bottom: 0rem;
  left: 50%;
  width: 2px;
  height: 90px;
}
.cid-uBkx52tCgl img {
  margin-bottom: 2rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.cid-uBkx52tCgl .mbr-fallback-image.disabled {
  display: none;
}
.cid-uBkx52tCgl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-rArXHg1PU8 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #211c1c;
}
.cid-rArXHg1PU8 .media-container-row .mbr-text {
  color: #b69b74;
}
